VLA_PROJECT_ROOT=
VLA_DATA_ROOT=
VLA_DATASETS_DIR=
VLA_RUNS_DIR=
VLA_CHECKPOINTS_DIR=
VLA_CACHE_DIR=
VLA_SCRATCH_DIR=
VLA_OBJECT_URI=
HF_HOME=
TORCH_HOME=
HF_TOKEN=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
